@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&display=swap");

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto Mono', monospace; */
/* dark-blue:#060930 */
/* light-purple:#333456 */
/* light-blue:#595b83 */
/* light-pink:#f4abc4 */

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Mono", monospace;
  position: relative;
  min-height: 100vh;
}
header {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: rgb(0, 132, 255);
}

.flex-row,
.flex-column {
  display: flex;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.container {
  width: 95%;
  margin: 0 auto;
}

#error,
#success {
  color: #fff;
  text-align: center;
}
#error {
  background-color: rgb(255, 72, 0);
}
#success {
  background-color: rgb(0, 195, 107);
}
